@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Merriweather", serif;
  background: rgb(78, 68, 129);
  color: white;
  padding: 30px auto;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-radius: 5px;
}

.container h1 {
  margin: 0;
  margin-top: 15px;
  letter-spacing: 5px;
  padding: 0;
}

.search-container {
  transform: translateX(-75%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.85, 0.58, 0.34, 0.26);
}

.container .search-box {
  margin: 20px auto 0 auto;

  padding: 30px 0 20px 0;
}

.search-form {
  display: flex;
  height: 35px;
}

.container .search-box input[type="text"] {
  width: 400px;
  padding-left: 10px;
  font-size: 18px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #c54b3d3a;
  border-right: 2px solid black;
  background-color: #a1322685;
}

.container .search-box input[type="text"]:focus {
  outline: 0;
}

.container .search-box input[type="text"]::placeholder {
  color: black;
  font-weight: 500;
}

.container .search-box input[type="submit"] {
  width: 100px;
  cursor: pointer;
  background-color: #a1322685;
  font-size: 18px;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #c54b3d3a;
  border-left: none;
  transition: background-color 0.3s ease;
}

.container .search-box input[type="submit"]:focus {
  outline: none;
}

.container .search-box input[type="submit"]:active {
  background-color: rgba(66, 97, 97, 0.247);
  transform: translateY(0.4px);
}

.container .search-box input[type="submit"]:focus {
  outline: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.main.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main .movie-card {
  margin: 25px 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.fa-tv {
  z-index: 8;
  font-size: 20px;
  position: absolute;
  top: -12px;
  left: -0px;
}

.main .movie-card h3 {
  z-index: 5;
  font-size: 22px;
  letter-spacing: 1.2px;
  background-color: rgba(0, 0, 0, 0.431);
  margin: 0;
  padding: 12px 5px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.main .movie-card .movie-img-container {
  flex: 1;
}

.main .movie-card .movie-img-container img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.main .movie-card:hover .card-overlay {
  cursor: pointer;
  display: flex;
  opacity: 1;
}

.main .movie-card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  border-radius: 6px;
}

.card-overlay button {
  z-index: 15;
  cursor: pointer;
  background-color: #d2d0d6de;
  margin-top: auto;
  margin-bottom: 30px;
  width: 95%;
  font-size: 18px;
  /* letter-spacing: 1.4px; */
  font-weight: bold;
  color: #0a0911f5;
  text-transform: capitalize;
  border: none;
  border: 2px solid #d2d0d6de;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.card-overlay button:hover {
  /* border: 2px solid #d2d0d6de; */
  color: #eee;
  background-color: transparent;
}

.main h2 {
  font-size: 42px;
  color: #c54b3d;
  padding-left: 10px;
  margin-bottom: 60px;
  background-color: transparent;
}

.main p {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.movie-detail {
  /* position: fixed;
    top: 0;
    left: 0; */
  /* width: 100%;
    height: 100%; */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.23);
  padding-top: 40px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.movie-detail.plot {
  height: 100vh;
}

.movie-detail.plot .movie-detail-container {
  display: flex;
  width: 100%;
}

.movie-detail-container {
  display: flex;
  border-radius: 10px;
  /* padding: 20px; */
  /* background-color: rgba(0, 0, 0, 0.747); */
  width: 100%;
}

.movie-detail.plot .results-info {
}

.movie-detail-container h2 {
  margin-top: 200px;
}

.results-info {
  padding: 0 10px;
  display: flex;
}

.results-info.plot {
  padding: 0 10px;
  display: flex;
  width: 100%;
}

.movie-data {
  flex: 1;
}

.movie-data p {
  font-size: 22px;
  text-align: justify;
  padding: 20px 10px;
}

.movie-data-list {
  padding: 20px 10px;
  padding-bottom: 60px;
}

.movie-data-list li {
  list-style-type: none;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 900;
}

.results-info .movie-data h3 {
  margin: 0;
  padding-left: 6px;
  font-size: 2rem;
}

.fas {
  margin-left: 10px;
}

.movie-data-list li .fas {
  margin: 0;
  margin-right: 10px;
}

.img-container {
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 15px;
  margin-left: 30px;
  /* margin-bottom: 50px; */
}

.img-container img {
  cursor: pointer;
  border-radius: 4px;
  height: 350px;
  width: 250px;
  border: 2px solid rgba(0, 0, 0, 0.164);
  -webkit-box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
  -moz-box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
  box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
  transition: transform 0.2s ease-in-out;
}
.img-container img:hover {
  transform: scale(0.99);
}

.read-plot,
.go-back-btn,
.return-btn {
  cursor: pointer;
  background-color: #d43b2a59;
  border: 0;
  font-size: 24px;
  font-weight: 600;

  /* position: absolute;
    bottom: 0;
    left: 16px; */
  margin: 12px 6px;
  padding: 6px 12px;
  border-radius: 40px;
  border-bottom: 3px solid #d43b2a17;
  transition: background 0.2s ease-in-out;
}

.return-btn {
  border: 3px solid rgba(0, 0, 0, 0.904);
}

.return-btn-icon {
  margin: 0 auto;
  padding: 10px;
}

.return-btn i {
}

.read-plot:hover,
.go-back-btn:hover,
.return-btn:hover {
  color: rgba(255, 255, 255, 0.815);
  border-bottom: 3px solid rgba(255, 255, 255, 0.39);
  font-weight: 600;
  background: 0;
}

.read-plot:focus,
.go-back-btn:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .search-container {
    width: 80%;
  }

  .container .search-box input[type="submit"] {
    width: 20%;
    cursor: pointer;
    background-color: #a1322685;
    font-size: 18px;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    border-left: none;
  }

  .container .search-box input[type="text"] {
    width: 80%;
    padding-left: 10px;
    font-size: 18px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    background-color: #a1322685;
  }
}

@media (max-width: 720px) {
  .main h2 {
    font-size: 26px;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .results-info {
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-top: 0;
  }

  .img-container {
    width: 50%;
    margin: 20px auto;
  }

  .img-container img {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.164);
    -webkit-box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
    -moz-box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
    box-shadow: -1px 9px 31px -1px rgba(163, 51, 39, 1);
  }

  .results-info .movie-data h3 {
    text-align: center;
    padding-left: 0;
  }

  .movie-data-list li {
    font-size: 20px;
  }

  .movie-data p {
    font-size: 20px;
    padding: 20px 10px;
    text-align: justify;
  }
}

/* @media(min-width:1100px) {
    .container {
        width: 85%;
    }
} */
